<%- include header.ejs%>
<script>
    isGroup = 0;//判断是否群聊
    //回车键发送
    function quickSend(event) {
        if (event.keyCode == 13) {
            $("#talkSend").click();
        }
        return false;
    };
</script>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div style="display: none" id="talkShow">
                <div class='panel panel-default' style='height:300px'>
                    <span><button type='button' class='close' aria-hidden='true' id='closeTalkShow'>&times;</button></span>
                    <div class='panel-heading'>
                        <h3 class='panel-title' id='nameShow'></h3>
                    </div>
                    <div class='panel-body' id='talkcon' style='height:250px;'>
                    </div>
                </div>
                <div class='panel panel-default'>
                    <div class='input-group'>
                        <textarea type='text' class='form-control' style='height: 55px' id='talk' onkeydown="quickSend(event)" autofocus></textarea>
                            <span class='input-group-btn'>
                <button class='btn btn-default' type='button' style='height: 55px' id='talkSend'>发送</button>
                </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="position: static">
            <div class="panel panel-default" style="height: 355px">
                <div>
                <ul class="nav nav-tabs" style="margin: -1px">
                    <li class="active"><a href="#toFriend" data-toggle="tab" onclick="isGroup = 0;">好友</a></li>
                    <li><a href="#toGroup" data-toggle="tab" onclick="isGroup = 1">群</a></li>
                </ul>
                </div>
                <div class="tab-content">
                    <div class="tab-pane active" id="toFriend">
                        <div class="panel-body " id="friendList" style="display: block ! important;">
                            <% user.friends.forEach(function(list, index){ %>
                            <p id="fl_<%= list%>" class="friendList">
                                <span class="fl1"><%= list %></span>
                                <span class="fl2"><span class="glyphicon glyphicon-comment "></span></span>
                                <span class="fl3"></span>
                            </p>
                            <% }) %>
                        </div>
                    </div>
                    <div class="tab-pane" id="toGroup">
                        <div class="panel-body" id="groupList" style="display: block ! important;">
                            <% user.groups.forEach(function(group, index){ %>
                            <p id="fl_group_<%= group%>" class="friendList">
                                <span class="fl1"><%= group%></span>
                                <span class="fl2" style="display: inline ! important;"><span class="glyphicon glyphicon-comment "></span></span>
                                <span class="fl3"></span>
                            </p>
                            <% }) %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("#groupList").hide();
    $("#toFriend").click(function(){
        $("#groupList").show();
        $("#friendList").hide();
    });
    $("#toGroup").click(function(){
        $("#groupList").hide();
        $("#friendList").show();
    });
</script>
<%- include footer.ejs%>