<!DOCTYPE html>
<head>
    <meta charest="UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/bootstrap.css">
    <link href="stylesheets/navbar-fixed-top.css" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/cikonss.css" />
    <script type="text/javascript" src="javascripts/jquery-1.8.0.min.js"></script>
    <script type="text/javascript" src="javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="javascripts/chat.js"></script>
</head>
<body >
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="row">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">The Wu's</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">群管理 <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li id="establishGroup"><a href="#group" data-toggle="modal" data-target="#group">建立新群</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Nav header</li>
                        <li><a href="#">Separated link</a></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>

                <% if(user){%>
                    <li><a href="/personInfo"><%= user.username%></a></li>
                    <li><a href="/logout">Logout</a></li>
                <%}%>
                <li id="msgShow" style="display:none"><a href="#info" data-toggle="modal" ><span class="glyphicon glyphicon-envelope"></span></a></li>
            </ul>
            <!--搜索框 -->
            <form class="navbar-form">
                    <div class="col-lg-3 col-lg-offset-4">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="searchSwitch">搜好友<span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a href="#" id="searchF">搜好友</a></li>
                                    <li><a href="#" id="searchG">搜群</a></li>
                                </ul>
                            </div><!-- /btn-group -->
                            <input type="text" placeholder="搜索好友" class="form-control" id="friendname" name="fname">
                        </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->
                    <button type="submit" class="btn btn-success" id="search" data-toggle="modal" data-target="#searchshow">
                        Search
                    </button>
            </form>
        </div><!--/.nav-collapse -->
        </div>
    </div>
</div>
<!-- 好友搜素 -->
<div class="modal fade" id="searchshow" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">搜索</h4>
            </div>
            <div class="modal-body" id="friendshow">
                <!--<p>One fine body&hellip;</p>-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="modalClose">关闭</button>
                <button type="button" class="btn btn-primary" id="toAddFriend">申请</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--群管理 -->
<div class="modal fade" id="group" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">群管理</h4>
            </div>
            <div class="form-horizontal" role="form">
                <div class="modal-body " id="groupInfo">
                    <div class="form-group">

                        <div class="col-xs-7">
                            <label for="groupName">群名：</label>
                            <input type="text" class="form-control input-group-lg col-sm-3" id="groupName" placeholder="Enter GroupName">
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="modalCloseG">关闭</button>
                    <button type="submit" class="btn btn-primary" id="groupConfirm">确定</button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--系统消息 -->
<div class="modal fade" id="info" tabindex="-1" role="dialog"  aria-hidden="true" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-labelledby="myModalLabel" aria-hidden="true">&times;</button>
                <h4 class="modal-title">系统消息</h4>
            </div>
            <div class="modal-body" id="infoShow">
                <!--<p>One fine body&hellip;</p>-->
                <div id="friend">
                <% user.messages.forEach(function(message, index){ %>
                 <%if(message.type == "friendApply"){%>

                 <p id="msg_<%= message.from%>">
                    <span><%= message.from %></span><span>&nbsp;请求加你为好友</span>&nbsp;
                    <span class="agree"><i class="glyphicon glyphicon-ok"></i></span>&nbsp;
                    <span class="disagree"><i class="glyphicon glyphicon-remove"></i></span>
                 </p>
                 <%}})%>
                 </div>
                 <div id="group">
                 <% user.messages.forEach(function(message, index){ %>
                 <%if(message.type == "groupApply"){%>
                 <p id="msg_group_<%= message.from%>">
                    <span><%= message.from %></span>
                     <span>&nbsp;请求加入</span>
                     <span><%= message.gname%></span>&nbsp;
                    <span class="agree"><i class="glyphicon glyphicon-ok"></i></span>&nbsp;
                    <span class="disagree"><i class="glyphicon glyphicon-remove"></i></span>
                 </p>
                 <% }}) %>
                 </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="modalClosei">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
    username = '<%= user.username%>';
    userMessage = '<%= user.messages%>';
    userGroups = '<%= user.groups%>';

    $("#searchF").click(function(){
        $("#searchSwitch").text("搜好友");
    });
    $("#searchG").click(function(){
        $("#searchSwitch").text("搜群");
    });

    if(userMessage.length > 0){
        $("#msgShow").show();
    }

</script>
<% if(user){%>
<script>
    //如果登陆，发送信息
    socket.emit('online',{name:"<%= user.username%>"});
    groupTalk.emit('online',{name:username,groups:userGroups});
</script>
<% }%>

